.layout {
  align-items: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

.code-lines {
  display: flex;
  flex-direction: column;
}

.line-input {
  margin: 0;
  padding: 0 5px;
  border: 1px solid transparent;
  min-width: 400px;
  background-color: #333;
  color: #FFF;
}
